
4-gewinnt/.idea/vcs.xml
4-gewinnt/.idea/misc.xml
4-gewinnt/.idea/4-gewinnt.iml
4-gewinnt/.idea/inspectionProfiles/profiles_settings.xml
4-gewinnt/.idea/inspectionProfiles/Project_Default.xml
4-gewinnt/.idea/modules.xml
